<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Characters</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Cacciatore - Taing</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="users.html">Users</a></li>
              <li><a href="alliances.html">Alliances</a></li>
              <li class="active"><a href="characters.html">Characters<span class="sr-only">(current)</span></a></li>
            </ul>
  
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div id="characters">
        <div class="form-inline">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" v-model="characterAdd.character.name" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Name" required>

          <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
          <select v-model="characterAdd.character.class" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" placeholder="Class">
            <option>warrior</option>
            <option>thief</option>
            <option>mage</option>
          </select>

          <label class="sr-only" for="inlineFormInput">User ID</label>
          <input type="text" v-model="characterAdd.character.user_id" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="User ID" required>

          <label class="sr-only" for="inlineFormInput">Pos. X</label>
          <input type="text" v-model="characterAdd.character.position.x" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Pos. X" required>

          <label class="sr-only" for="inlineFormInput">Pos. Y</label>
          <input type="text" v-model="characterAdd.character.position.y" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Pos. Y" required>

          <button type="submit" v-on:click="addCharacter()" class="btn btn-primary">Add</button>
        </div>
        <table class="table">
          <thead class="thead-inverse">
            <th>ID</th>
            <th>Name</th>
            <th>ID de l'user</th>
            <th>Classe</th>
            <th>Position X</th>
            <th>Position Y</th>
          </thead>
          <tbody>
            <tr v-for="character in characters" v-on:click="goToCharacterById(character.id)">
              <td> {{ character.id }}</td>
              <td> {{ character.name }}</td>
              <td> {{ character.user_id }}</td>
              <td> {{ character.class }}</td>
              <td> {{ character.position.x }}</td>
              <td> {{ character.position.y }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/vue.js"></script>
      <script type="text/javascript" src="js/vue-resource.min.js"></script>
      <script type="text/javascript" src="js/characters.js"></script>
    </body>
    </html>